@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  background-color: #0000;
  overflow: auto;
}

#root {
  height: 100%;
  overflow: scroll;
  background-color: #0000;
}
